{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

    {% comment %} <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid"> {% endcomment %}
            
                <h2>Welcome</h2>
                <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, odit velit nulla sed atque autem ab sit possimus inventore! Perspiciatis fuga ipsa doloremque, fugiat harum distinctio voluptatum. Aperiam, dolore soluta?</h1>

            {% comment %} </div>
        </div>
    </div> {% endcomment %}
 
{% endblock content %}